/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Typeface */
body {
    font-family: "MuseoModerno", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #EAE8EB;
}

/* Sticky Nav */
.navbar {
    position: fixed;
    top: 0;
    background: #EAE8EB;
    text-align: center;
    font-size: 24px;
    z-index: 1000;
    width: 100%;
}

.navbar_content {
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 4px solid #01A0E2;
    color: #01A0E2;
    padding: 20px 0 4px 0;
    text-align: center;
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 6%;
    line-height: 30px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #01A0E2;
    text-transform: lowercase;
    padding: 0px 7px;
}

.navbar ul li a:hover {
    color: #D9416F;
    border-bottom: 4px solid #D9416F;
}

.title {
    text-align: left;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    width: 394px;
    flex-shrink: 0;
    line-height: 30px;
    padding-left: 3px;
    float: left;
}

.title a {
    text-decoration: none;
    color: #01A0E2;
}

.title a:hover {
    color: #D9416F;
}

.title_marker {
    width: 20px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 0px 10px 10px 0px;
    background: #D9416F;
    float: left;
}

/* Sections */
section {
    /* height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center; */
    text-align: left;
    font-size: 24px;
    color: #EAE8EB;
}

/* About */

#about {
    background-color: #EAE8EB;
    margin-top: 120px;
}

#row1 {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: auto 20px;
    column-gap: 20px;
}

.left_box {
    color: #333;
    font-size: 400px;
    font-style: normal;
    font-weight: 400;
    line-height: 400px;
    text-align: center;
    margin-left: 40px;
    animation-name: aa;
    animation-duration: 6s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes aa {
    0% {
        font-style: normal;
        -moz-font-feature-settings:"ss01" 0;
        -ms-font-feature-settings:"ss01" 0;
        -o-font-feature-settings:"ss01" 0;
        -webkit-font-feature-settings:"ss01" 0;
        font-feature-settings:"ss01" 0;
    }
    25% {
        font-style: italic;
        -moz-font-feature-settings:"ss01" 0;
        -ms-font-feature-settings:"ss01" 0;
        -o-font-feature-settings:"ss01" 0;
        -webkit-font-feature-settings:"ss01" 0;
        font-feature-settings:"ss01" 0;
    }
    50% {
        font-style: normal;
        -moz-font-feature-settings:"ss01" 1;
        -ms-font-feature-settings:"ss01" 1;
        -o-font-feature-settings:"ss01" 1;
        -webkit-font-feature-settings:"ss01" 1;
        font-feature-settings:"ss01" 1;
    }
    75% {
        font-style: italic;
        -moz-font-feature-settings:"ss01" 1;
        -ms-font-feature-settings:"ss01" 1;
        -o-font-feature-settings:"ss01" 1;
        -webkit-font-feature-settings:"ss01" 1;
        font-feature-settings:"ss01" 1;
    }
    100% {
        font-style: normal;
        -moz-font-feature-settings:"ss01" 0;
        -ms-font-feature-settings:"ss01" 0;
        -o-font-feature-settings:"ss01" 0;
        -webkit-font-feature-settings:"ss01" 0;
        font-feature-settings:"ss01" 0;
    }
}

.right_box {
    /* height: 400px; */
    flex-shrink: 0;
    border-radius: 40px 0px 0px 40px;
    background: #01A0E2;
    padding: 55px 40px;
    color: #EAE8EB;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 128.571% */
}

.right_box p {
    margin-top: 30px;
    margin-left: 5px;
    /* width: 500px; */
    padding-left: 10px;
    border-left: 13px solid #D9416F;
}

.buttons {
    background-color: #D9416F;
    float: left;
    border: 0;
    width: 220px;
    text-align: center;
    margin-left: 5px;
    margin-top: 20px;
    padding: 10px;
    color:#EAE8EB;
    text-decoration: underline;
}

.buttons:hover {
    background-color: #333;
    color:#D9416F;
}

h1 {
    color: #333;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 83.333% */
    text-transform: uppercase;
}

#row2 {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto 20px;
    column-gap: 20px;
}

.left_box2 {
    /* height: 320px; */
    flex-shrink: 0;
    border-radius: 0px 40px 40px 0px;
    background: #D9416F;
    padding: 55px 50px; 
}

.left_box2 p {
    margin-top: 30px;
    margin-left: 3px;
    padding-left: 10px;
    border-left: 7px solid #01A0E2;
}

h2 {
    color: #EAE8EB;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 75% */
    text-transform: uppercase;
    -moz-font-feature-settings:"ss01" 1;
    -ms-font-feature-settings:"ss01" 1;
    -o-font-feature-settings:"ss01" 1;
    -webkit-font-feature-settings:"ss01" 1;
    font-feature-settings:"ss01" 1;
}

#row3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 0px;
    column-gap: 20px;
    padding: 40px 55px;
    background: #333;
    margin-bottom: 0px;
}

#row4 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 0px;
    column-gap: 20px;
    padding: 40px 55px;
    background: #333;
    margin-bottom: 20px;
}

.stat_box {
    background: #EAE8EB;
}

#row4 .stat_box h2 {
    font-size: 48px;
    line-height: 40px;
}

.right_box2, .stat_box {
    text-align: center;
    flex-shrink: 0;
    border-radius: 40px;
    padding: 55px 40px;
    color: #01A0E2;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.right_box2 h2, .stat_box h2 {
    font-size: 96px;
    color:#D9416F;
    line-height: 72px;
}

.right_box2 p {
    text-align: center;
    line-height: 24px;
    margin-top: 10px;
}

#row5 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 0px;
    column-gap: 20px;
    padding: 20px 40px;
}

.weight_box {
    text-align: center;
    flex-shrink: 0;
    color: #01A0E2;
    font-style: normal;
}

.weight_box2 {
    text-align: center;
    flex-shrink: 0;
    color: #D9416F;
    font-size: 24px;
    -moz-font-feature-settings:"ss01" 1;
    -ms-font-feature-settings:"ss01" 1;
    -o-font-feature-settings:"ss01" 1;
    -webkit-font-feature-settings:"ss01" 1;
    font-feature-settings:"ss01" 1;
}

h3 {
    color: #EAE8EB;
    font-size: 96px;
    font-weight: normal;
    line-height: 72px; /* 75% */
}

/* GLYPHS */
.left_box3 {
    color: #EAE8EB;
    font-size: 36px;
    line-height: 80%;
    font-style: normal;
    font-weight: 400;
    margin-left: 40px;
    position: relative;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #D9416F;
    color:#EAE8EB;
  }

.right_box3 {
    /* height: 400px; */
    flex-shrink: 0;
    border-radius: 40px 0px 0px 40px;
    background: #01A0E2;
    padding: 55px 40px;
    color: #EAE8EB;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.right_box3 p {
    margin-top: 30px;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 7px solid #EAE8EB;
}

/* FEATURES */
#features {
    background-color: #333;
    padding-top: 20px;
}

/* GLYPHS */
#glyphs {
    padding-top: 20px;
    background-color: #333;
}

#glyph_rows {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 0px;
    column-gap: 20px;
    padding: 0 40px;
    margin-bottom: 20px;
}

.glyph_box {
    color: #EAE8EB;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    margin-left: 40px;
    position: relative;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
}
  